*{
    margin:0;
}

#container{
    background-color: rgb(255, 255, 255);
    width:auto;

}

#header{
    background-color: rgb(255, 255, 255);
    text-align: center;
    border:solid;
}

.t_side{
    display:flex;
    justify-content: space-between;
}

.topnav{
    display: flex;
    background-color: rgb(255, 255, 255);
}

.topnav a{
    color:#000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
}

.topnav a:hover{
    background-color: #ddd;
    color: #333;
    text-decoration:underline;
}

#menu{
    display:flex;
    justify-content: space-between;
}

#contain{
    background-image:url("../images/hwpaper1.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}

#contain{
    position: relative;
}

.center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }

  #center_hcontain{
    color:white;
    padding-bottom: 20px;
  }

  #center_left_contain{
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .center_pcontain{
    color:white;
    padding-left: 10px;
    padding-right: 20px;
  }

  #center_right_contain{
    display:flex;
    align-items: center;
    justify-content: center;
  }

  #center_botton{
    display:flex;
    justify-content:center ;
  }

  .botton_left {
    position: absolute;
    bottom: 16px;
    left: 32px;
    display: flex;
  }

  #bottom_p{
    color:white;
    padding-left: 20px;
  }

  .botton_right {
    position: absolute;
    bottom: 16px;
    right: 32px;
    border: solid;
    border-style: dotted;
    border-color: white;
    padding: 20px;
  }

#botton_right1{
    color:red;
    font-weight: bold;
}

#botton_right2{
    color:white;
    font-weight: bold;
}
  
#botton_right3{
    color:white;
}
  
#left_top_icon{
    padding-top: 5px;
}

#right_top_icon{
    padding-top:5px;
}
  
  